{% extends "med/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'med/css/account.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script src="{% static 'med/js/account.js' %}"></script>


<div class="main">
<div class="container">
    
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#profile">Профиль</a>
                </li>
                {% if usr.user.is_doctor %}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#schedule">Время приема</a>
                </li>
                {% endif %}
                {% if request.user.pk == usr.user.pk %}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#settingsPage">Настройки</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body tab-content">
            <div class="tab-pane active" id="profile">
                <div class="card text-center">
                    {% if usr.user.avatar %}
                    <img src="{{ usr.user.avatar.url }}" class="card-img-top" alt="error">
                    {% else %}
                    <img src="{% static 'med/images/blank.png' %}" class="card-img-top" alt="error">
                    {% endif %}
                    <div class="card-body" id="inside">
                      <h3 class="card-title">{{ fullname }}</h3>
                      <p class="card-text" id="specialization" name="specialization">{{ usr.specialization }}</p>
                      <p class="card-text" id="descr" name="descr">{{ usr.extra }}</p>
                      <div class="actions">
                        <div class="actionsC">
                            <div class="actionBtn">
                                <a href="">
                                <span class="fa-stack fa-2x">
                                    <i class="fa-solid fa-circle fa-stack-2x" style="color: #0d6efd;"></i>
                                    <i class="fa-solid fa-phone fa-2xs fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                                <p>Телефон</p>
                            </div>
                        </div>
                        <div class="actionsC">
                            <div class="actionBtn">
                                <a href="">
                                <span class="fa-stack fa-2x">
                                    <i class="fa-solid fa-circle fa-stack-2x" style="color: #0d6efd;"></i>
                                    <i class="fa-solid fa-envelope fa-2xs fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                                <p>Почта</p>
                            </div>
                        </div>
                        <div class="actionsC">
                            <div class="actionBtn">
                                <a href="">
                                <span class="fa-stack fa-2x">
                                    <i class="fa-solid fa-circle fa-stack-2x" style="color: #0d6efd;"></i>
                                    <i class="fa-solid fa-location-dot fa-2xs fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                                <p>Адрес</p>
                            </div>
                        </div>
                      </div>
                        <!-- 
                        <a href="#" style="margin-top: 1rem;" class="btn btn-primary">Записаться на прием</a>
                         -->
                    </div>
                  </div>


                </div>
            {% if usr.user.is_doctor %}
            <div class="tab-pane" id="schedule">
                <div class="card text-center">
                    <div class="card-body" id="inside">
                      <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                          <div class="card day">
                            <div class="card-body">
                              <h5 class="card-title">Понедельник</h5>
                              <p class="card-text">{% if usr.schedule.monday.0 is not none %} {{ usr.schedule.monday.0 }} - {{ usr.schedule.monday.1 }} {% else %} Нерабочий день {% endif %}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card day">
                            <div class="card-body">
                              <h5 class="card-title">Вторник</h5>
                              <p class="card-text">{% if usr.schedule.tuesday.0 is not none %} {{ usr.schedule.tuesday.0 }} - {{ usr.schedule.tuesday.1 }} {% else %} Нерабочий день {% endif %}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card day">
                            <div class="card-body">
                              <h5 class="card-title">Среда</h5>
                              <p class="card-text">{% if usr.schedule.wednesday.0 is not none %} {{ usr.schedule.wednesday.0 }} - {{ usr.schedule.wednesday.1 }} {% else %} Нерабочий день {% endif %}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card day">
                            <div class="card-body">
                              <h5 class="card-title">Четверг</h5>
                              <p class="card-text">{% if usr.schedule.thursday.0 is not none %} {{ usr.schedule.thursday.0 }} - {{ usr.schedule.thursday.1 }} {% else %} Нерабочий день {% endif %}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card day">
                              <div class="card-body">
                                <h5 class="card-title">Пятница</h5>
                                <p class="card-text">{% if usr.schedule.friday.0 is not none %} {{ usr.schedule.friday.0 }} - {{ usr.schedule.friday.1 }} {% else %} Нерабочий день {% endif %}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card day">
                              <div class="card-body">
                                <h5 class="card-title">Суббота</h5>
                                <p class="card-text">{% if usr.schedule.saturday.0 is not none %} {{ usr.schedule.saturday.0 }} - {{ usr.schedule.saturday.1 }} {% else %} Нерабочий день {% endif %}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card day">
                              <div class="card-body">
                                <h5 class="card-title">Воскресенье</h5>
                                <p class="card-text">{% if usr.schedule.sunday.0 is not none %} {{ usr.schedule.sunday.0 }} - {{ usr.schedule.sunday.1 }} {% else %} Нерабочий день {% endif %}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
            {% endif %}
            <div class="tab-pane" id="settingsPage">
                <div class="card text-center" style="margin-bottom: 0">
{#                    <form id='form' method="POST" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{#                    {% if usr.ava %}#}
{#                    <img src="{{ usr.ava.url }}" data-original="{% static 'med/images/blank.png' %}" id="newavatar" class="card-img-top" alt="error">#}
{#                    {% else %}#}
{#                    <img src="{% static 'med/images/blank.png' %}" data-original="{% static 'med/images/blank.png' %}" id="newavatar" class="card-img-top" alt="error">#}
{#                    {% endif %}#}
{#                    <div class="mb-3">#}
{#                        <label for="formFile" class="form-label">Загрузите изображение для аватара</label>#}
{#                        <div id="textfield-button">#}
{#                            <input onchange="avatarAppears()" class="form-control" type="file" id="formFile" accept="image/*" name="img">#}
{#                            <button id="close-textfield-button" type="button" class="btn-close" onclick="clearFileUploader()" aria-label="Close"></button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card-body" id="inside">#}
{#                      <div class="mb-3">#}
{#                        <input type="text" value="{{ fullname }}" class="form-control" name="fullname"></textarea>#}
{#                      </div>#}
{#                      {% if not usr.user.is_patient %}#}
{#                      <div class="mb-3">#}
{#                        <textarea rows=10 type="text" class="form-control" placeholder="Введите информацию о себе" name="description">{{ usr.extra }}</textarea>#}
{#                      </div>#}
{#                      {% endif %}#}
{#                      <div class="mb-3">#}
{#                        <label for="phoneInputField" class="form-label">Телефон</label>#}
{#                        <input id="phoneInputField" value="{{ usr.user.phone }}" type="tel" class="form-control" name="newphone"></textarea>#}
{#                      </div>#}
{#                      <div class="mb-3">#}
{#                        <label for="emailInputField" class="form-label">Электронная почта</label>#}
{#                        <input id="emailInputField" value="{{ usr.user.email }}" type="email" class="form-control" name="newemail"></textarea>#}
{#                      </div>                #}
{#                    </div>#}
{#                    <div class="mb-3">#}
{#                        <input type="submit" id="submitButton" class="btn btn-primary" style="width:100%" value='Сохранить изменения'></input>#}
{#                    </div>#}
{#                    </form>#}
                    {% if usr.user.avatar %}
                    <img src="{{ usr.user.avatar.url }}" id='userImg' alt="Аватар">
                    {% endif %}
                        <form id="settings" method="post">
                            <div class="mb-3">
                                <label for="avatar" class="form-label">Загрузить аватар</label>
                                <input class="form-control" name="avatar" form="settings" type="file" accept="image/*" id="avatar" disabled>
                                <img id="imgPreview" hidden src="#" alt="your image" />
                            </div>
                            {% for field in data %}
                            <div class="mb-3">
                              <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                                {% if field.type == 'text' %}
                                    <input class="form-control" name="{{ field.name }}" type="text" value="{{ field.value }}" form="settings" id="{{ field.name }}" disabled>
                                {% elif field.type == 'tel' %}
                                    <input class="form-control" type="tel" pattern="^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$" name="{{ field.name }}" value="{{ field.value }}" form="settings" id="{{ field.name }}" disabled>
                                {% elif field.type == 'textarea' %}
                                    <textarea rows="3" class="form-control" name="{{ field.name }}" form="settings" id="{{ field.name }}" disabled>{{ field.value }}</textarea>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </form>
                        <div class="buttons">
                            <button type="button" class="btn btn-outline-primary" id="editButt"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg> Изменить</button>
                            <button type="button" class="btn btn-success" id="saveButt" disabled><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                      <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                    </svg> Сохранить</button>
                        </div>
                  </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock content %}