{% extends "med/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'med/css/account.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script src="{% static 'med/js/account.js' %}"></script>

<div class="container">
    
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#profile">Профиль</a>
                </li>
                {% if usr.user.is_doctor %}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#schedule">Время приема</a>
                </li>
                {% endif %}
                {% if request.user.pk == usr.user.pk %}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#settings">Настройки</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body tab-content">
            <div class="tab-pane active" id="profile">
                <div class="card text-center">
                    {% if usr.ava %}
                    <img src="{{ usr.ava.url }}" class="card-img-top" alt="error">
                    {% else %}
                    <img src="{% static 'med/images/blank.png' %}" class="card-img-top" alt="error">
                    {% endif %}
                    <div class="card-body" id="inside">
                      <h3 class="card-title">{{ fullname }}</h3>
                      <p class="card-text" id="specialization" name="specialization">{{ usr.specialization }}</p>
                      <p class="card-text" id="descr" name="descr">{{ usr.extra }}</p>
                      <div class="actions">
                        <div class="actionsC">
                            <div class="actionBtn">
                                <a href="">
                                <span class="fa-stack fa-2x">
                                    <i class="fa-solid fa-circle fa-stack-2x" style="color: #0d6efd;"></i>
                                    <i class="fa-solid fa-phone fa-2xs fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                                <p>Телефон</p>
                            </div>
                        </div>
                        <div class="actionsC">
                            <div class="actionBtn">
                                <a href="">
                                <span class="fa-stack fa-2x">
                                    <i class="fa-solid fa-circle fa-stack-2x" style="color: #0d6efd;"></i>
                                    <i class="fa-solid fa-envelope fa-2xs fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                                <p>Почта</p>
                            </div>
                        </div>
                        <div class="actionsC">
                            <div class="actionBtn">
                                <a href="">
                                <span class="fa-stack fa-2x">
                                    <i class="fa-solid fa-circle fa-stack-2x" style="color: #0d6efd;"></i>
                                    <i class="fa-solid fa-location-dot fa-2xs fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                                <p>Адрес</p>
                            </div>
                        </div>
                      </div>
                        <!-- 
                        <a href="#" style="margin-top: 1rem;" class="btn btn-primary">Записаться на прием</a>
                         -->
                    </div>
                  </div>


                </div>
            {% if usr.user.is_doctor %}
            <div class="tab-pane" id="schedule">
                <div class="card text-center">
                    <div class="card-body" id="inside">
                      <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                          <div class="card day">
                            <div class="card-body">
                              <h5 class="card-title">Понедельник</h5>
                              <p class="card-text">{% if usr.schedule.monday.0 is not none %} {{ usr.schedule.monday.0 }} - {{ usr.schedule.monday.1 }} {% else %} Нерабочий день {% endif %}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card day">
                            <div class="card-body">
                              <h5 class="card-title">Вторник</h5>
                              <p class="card-text">{% if usr.schedule.tuesday.0 is not none %} {{ usr.schedule.tuesday.0 }} - {{ usr.schedule.tuesday.1 }} {% else %} Нерабочий день {% endif %}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card day">
                            <div class="card-body">
                              <h5 class="card-title">Среда</h5>
                              <p class="card-text">{% if usr.schedule.wednesday.0 is not none %} {{ usr.schedule.wednesday.0 }} - {{ usr.schedule.wednesday.1 }} {% else %} Нерабочий день {% endif %}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card day">
                            <div class="card-body">
                              <h5 class="card-title">Четверг</h5>
                              <p class="card-text">{% if usr.schedule.thursday.0 is not none %} {{ usr.schedule.thursday.0 }} - {{ usr.schedule.thursday.1 }} {% else %} Нерабочий день {% endif %}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card day">
                              <div class="card-body">
                                <h5 class="card-title">Пятница</h5>
                                <p class="card-text">{% if usr.schedule.friday.0 is not none %} {{ usr.schedule.friday.0 }} - {{ usr.schedule.friday.1 }} {% else %} Нерабочий день {% endif %}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card day">
                              <div class="card-body">
                                <h5 class="card-title">Суббота</h5>
                                <p class="card-text">{% if usr.schedule.saturday.0 is not none %} {{ usr.schedule.saturday.0 }} - {{ usr.schedule.saturday.1 }} {% else %} Нерабочий день {% endif %}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card day">
                              <div class="card-body">
                                <h5 class="card-title">Воскресенье</h5>
                                <p class="card-text">{% if usr.schedule.sunday.0 is not none %} {{ usr.schedule.sunday.0 }} - {{ usr.schedule.sunday.1 }} {% else %} Нерабочий день {% endif %}</p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
            {% endif %}
            <div class="tab-pane" id="settings">
                <div class="card text-center">
                    <form id='form' method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if usr.ava %}
                    <img src="{{ usr.ava.url }}" data-original="{% static 'med/images/blank.png' %}" id="newavatar" class="card-img-top" alt="error">
                    {% else %}
                    <img src="{% static 'med/images/blank.png' %}" data-original="{% static 'med/images/blank.png' %}" id="newavatar" class="card-img-top" alt="error">
                    {% endif %}
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Загрузите изображение для аватара</label>
                        <div id="textfield-button">
                            <input onchange="avatarAppears()" class="form-control" type="file" id="formFile" accept="image/*" name="img">
                            <button id="close-textfield-button" type="button" class="btn-close" onclick="clearFileUploader()" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="card-body" id="inside">
                      <div class="mb-3">
                        <input type="text" value="{{ fullname }}" class="form-control" name="fullname"></textarea>
                      </div>
                      {% if not usr.user.is_patient %}
                      <div class="mb-3">
                        <textarea rows=10 type="text" class="form-control" placeholder="Введите информацию о себе" name="description">{{ usr.extra }}</textarea>
                      </div>
                      {% endif %}
                      <div class="mb-3">
                        <label for="phoneInputField" class="form-label">Телефон</label>
                        <input id="phoneInputField" value="{{ usr.user.phone }}" type="tel" class="form-control" name="newphone"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="emailInputField" class="form-label">Электронная почта</label>
                        <input id="emailInputField" value="{{ usr.user.email }}" type="email" class="form-control" name="newemail"></textarea>
                      </div>                
                    </div>
                    <div class="mb-3">
                        <input type="submit" id="submitButton" class="btn btn-primary" style="width:100%" value='Сохранить изменения'></input>
                    </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}