{% extends "med/base.html" %}

{% block content %}
	<!-- <div class="container" style="display:flex; flex-direction:row; justify-content: center; flex-grow:3;"> -->
    <div class="card" style="height: 0px; width: 35rem; max-width: 95vw; margin: 1rem; align-self: center; flex-grow:3; display:flex; flex-direction:column;">
    <div class="card-header" style="display:flex; justify-content: space-between; align-items: center;">
      <div>{{user2.first_name}} {{user2.last_name}}</div>
    </div>
     <div class="card-body" id="cardBodyChat" style="padding:0.5rem; overflow-y: scroll; flex-grow:3; display:flex; flex-direction:column;">
     	{% for message in messages %}
     	 	{% if message.sender == user1.id %}
     		<div class="list-group-item" style="border: none; text-align: right;">{{user1.first_name}} {{user1.last_name}}: {{message.text}}</div>
     		{% else %}
     		<div class="list-group-item" style="border: none; text-align: left;">{{user2.first_name}} {{user2.last_name}}: {{message.text}}</div>
     		{% endif %}
     	{% endfor %}
     </div>
     <form id='messageForm' style="display:flex; flex-direction:row; margin:5px;">
        <input type="text" name="text" class="form-control" id="text" placeholder="Введите сообщение" style="margin-right:10px;">
        <input type="submit" id="buttonSend" class="btn btn-primary" value='Отправить'>
        <input type="hidden" name="chatId" value="{{ chat.id }}">
        <input type="hidden" name="sender" value="{{ user1.id }}">
      </form>
        <script>
            var socket;
            window.onload = () => {
                cardBodyChat.scrollTop = cardBodyChat.scrollHeight;
                socket = new WebSocket(`ws://${window.location.host}/chat_server/`)

                socket.onmessage = function(event) {
                    let data = JSON.parse(event.data);
                    if (data['from'] == {{ user2.id }} && data['to'] == {{ user1.id }}) {
                        let block = '<div class="list-group-item" style="border: none; text-align: left;">{{user2.first_name}} {{user2.last_name}}: ' + data['text'] + '</div>'
                        cardBodyChat.insertAdjacentHTML("beforeend", block);
                        cardBodyChat.scrollTop = cardBodyChat.scrollHeight;
                    }
                };
            }
            messageForm.onsubmit = async (e) => {
                e.preventDefault();

                socket.send(JSON.stringify({
                    text: text.value,
                    from: {{user1.id}},
                    to: {{ user2.id }},
                    chat_id: {{ chat.id }}
                }));


                let block = '<div class="list-group-item" style="border: none; text-align: right;">{{user1.first_name}} {{user1.last_name}}: '+ text.value +'</div>'
                text.value = ""
                cardBodyChat.insertAdjacentHTML("beforeend", block);
                cardBodyChat.scrollTop = cardBodyChat.scrollHeight;

	        };
        </script>
    </div>
  <!-- </div> -->
{% endblock content %}