{% extends "med/base.html" %}
{% block content %}
  <div class="container" style="display:flex; flex-direction:row; justify-content:center;">
    <div class="card" style="width: 18rem; margin-top: 1rem; margin-right: 1rem;">
    <div class="card-header" style="display:flex; justify-content: space-between; align-items: center;">
      <div>Chats</div>
      <button class="btn btn-primary" id="collapseButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Создать чат</button>
      <script>
        function handleClick()
        {
          console.log( this.textContent);
          this.textContent = (this.textContent == 'Создать чат' ? 'Закрыть' : 'Создать чат');
        }
        document.getElementById('collapseButton').onclick=handleClick;
      </script>
    </div>
     <div class="card-body" style="padding:0.5rem; overflow: auto;">
      {% if users.count > 0 %}
        {% for user in users %}
          <a href="/chat?with={{user.id}}" class="list-group-item list-group-item-action">{{ user.first_name }} {{ user.last_name }}</a>
        {% endfor %}
      {% endif %} 
     </div>
    </div>
    <div class="collapse" id="collapseExample">
    <div class="card" style="width: 18rem; margin-top: 1rem;">
    <div class="card-header" style="display:flex; justify-content: space-between; align-items: center;">
      <div>Users</div>
    </div>
     <div class="card-body" style="padding:0.5rem; overflow: auto;">
      {% if new_users.count > 0 %}
      <div class="list-group" id="usersList">
        {% for user in new_users %}
        <button type="button" class="list-group-item list-group-item-action" id="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</button>
        {% endfor %}
      </div>
      {% endif %}
      <script>
        usersList.onclick =  async function(event) {
          let target = event.target;
          if (target.tagName != 'BUTTON') return;
          let formData = new FormData();
          formData.append('receiver', target.id)
          let response = await fetch('/api/createchat', {
                method: 'POST',
                body: formData
              });
            if (response.status == 201) {
              document.location.reload();
            } else{
              document.location.replace("dashboard");
            }
        };
      </script>
     </div>
    </div>
    </div>
  </div>
{% endblock content %}