{% extends "med/base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'med/css/chats.css' %}">

  <div class="content">
    <div class="card chats">
    <div class="card-header" style="display:flex; justify-content: space-between; align-items: center;">
      <div>Чаты</div>
      <button class="btn btn-primary" id="collapseButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Создать чат</button>
      <script>
        function handleClick()
        {
          this.textContent = (this.textContent == 'Создать чат' ? 'Закрыть' : 'Создать чат');
        }
        document.getElementById('collapseButton').onclick=handleClick;
      </script>
    </div>
     <div class="card-body" style="padding:0.5rem; overflow: auto;">
      {% if users.count > 0 %}
        {% for user in users %}
            {% if user.is_doctor %}
            <div class="user-item" onclick="window.location.href = '/chat?with={{user.id}}'"><img src="{{ user.avatar.url }}" alt="Avatar" class="avatar"> <div class="user-info"><b>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</b><p>{{ user.doctor.specialization }}</p></div></div>
            {% elif user.is_clinic %}
            <div class="user-item" onclick="window.location.href = '/chat?with={{user.id}}'"><img src="{{ user.avatar.url }}" alt="Avatar" class="avatar"> <div class="user-info"><b>{{ user.first_name }}</b></div></div>
            {% else %}
            <div class="user-item" onclick="window.location.href = '/chat?with={{user.id}}'"><img src="{{ user.avatar.url }}" alt="Avatar" class="avatar"> <div class="user-info"><b>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</b></div></div>
            {% endif %}
        {% endfor %}
      {% endif %} 
     </div>
    </div>
    <div class="collapse" id="collapseExample">
    <div class="card" style="width: 18rem; margin-top: 1rem;">
    <div class="card-header" style="display:flex; justify-content: space-between; align-items: center;">
      <div>Пользователи</div>
    </div>
     <div class="card-body" style="padding:0.5rem; max-height: 80%; overflow: auto;">
        {% for user in new_users %}
            {% if user.is_doctor %}
            <div class="user-item" onclick="new_user_clicked({{ user.id }})"><img src="{{ user.avatar.url }}" alt="Avatar" class="avatar"> <div class="user-info"><b>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</b><p>{{ user.doctor.specialization }}</p></div></div>
            {% elif user.is_clinic %}
            <div class="user-item" onclick="new_user_clicked({{ user.id }})"><img src="{{ user.avatar.url }}" alt="Avatar" class="avatar"> <div class="user-info"><b>{{ user.first_name }}</b></div></div>
            {% else %}
            <div class="user-item" onclick="new_user_clicked({{ user.id }})"><img src="{{ user.avatar.url }}" alt="Avatar" class="avatar"> <div class="user-info"><b>{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</b></div></div>
            {% endif %}
        {% endfor %}
      <script>
      async function new_user_clicked(nid) {
          let formData = new FormData();
          formData.append('receiver', nid)
          let response = await fetch('/api/createchat', {
                method: 'POST',
                body: formData
              });
            if (response.status == 201) {
              document.location.reload();
            } else{
              document.location.replace("dashboard");
            }
        };
      </script>
     </div>
    </div>
    </div>
  </div>
{% endblock content %}