<!-- partial:index.partial.html -->
{% extends "med/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'med/css/style.css' %}">
<div style="height: 100vh;
  background-color: ghostwhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;">
 <div class="card">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <form id='form'>
      {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Адрес электронной почты</label>
      <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com" required="required">
    </div>
    <div class="mb-3" id='passId'>
      <label for="exampleFormControlTextarea1" class="form-label">Пароль</label>
      <input type="password" class="form-control" name="password" id="exampleFormControlTextarea1" required="required"></input>
    </div>
   <div class="mb-3">
    <input type="submit" id="loginButton" class="btn btn-primary" style="width:100%" value='Войти'></input>
    <script type="text/javascript">
      form.onsubmit = async (e) => {
        e.preventDefault();
        if (!form.checkValidity()){
            return
          }

        let response = await fetch('index', {
          method: 'POST',
          body: new FormData(form)
        });

        let result = await response.text();

        if (response.status == 403) {
          block = '<div class="mb-3"><div class="alert alert-danger alert-dismissible fade show" role="alert" style="flex:0.5">Неверная почта или пароль<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div></div>'
          passId.insertAdjacentHTML("afterend", block);
        } else {
          window.location.replace("dashboard");
        }
      };
    </script>
   </div>
   </form>
    <a href="registration" class="btn btn-outline-primary" style="width:100%">Создать аккаунт</a>
  </div>
</div>
</div>
<!-- partial -->
  
{% endblock content %}
