{% extends "med/base.html" %}
{% block content %}
  {% if notifications.count > 0 %}
    {% for notif in notifications %}
      <div style="display: flex; direction: row;">
        <a style="align-self: flex-start;" href="/chat?with={{notif.sender.id}}" class="list-group-item list-group-item-action">{{notif.sender.first_name}} {{notif.sender.last_name}} : {{notif.text}}</a>
        <button style="align-self: flex-end; margin-right: 5px; align-self:center; background-color: red; color: white; border: 3px; height: 40px; width: 40px;" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endblock content %}