{% extends "med/base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'med/css/search.css' %}">
<script src="{% static 'med/js/search.js' %}"></script>

<div class="main">
   <div class="searchContainer">
     <form action="" id="search">
  <div class="input-group mb-3">
    <input type="text" class="form-control" id='searchText' form='search' placeholder="Введите запрос" aria-label="searchText" aria-describedby="button-addon2">
    <button class="btn btn-outline-primary" type="button" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> Найти</button>
  </div>
     <div class="mb-3">
     <div class="form-check form-check-inline">
  <input class="form-check-input" form='search' type="radio" value='doctors' name="searchRadio" id="radioDoctors" checked>
  <label class="form-check-label" for="radioDoctors">
    Врачи
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" form='search' type="radio" value='clinics' name="searchRadio" id="radioClinics">
  <label class="form-check-label" for="radioClinics">
    Клиники
  </label>
</div>
   </div>
   <div class="dropdown" id='specDropdown'>
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    Выбрать специализацию
  </button>
     <div class="dropdown-menu">
        <span class="badge rounded-pill text-bg-secondary" id="selAll">Выбрать все</span>
        <span class="badge rounded-pill text-bg-secondary" id="canAll" style="margin-bottom: 0.5rem;">Отменить все</span>
         {% for spec in specs %}
       <div class="form-check">
          <input class="form-check-input" form='search' name='searchCheckbox' type="checkbox" value="{{ spec }}" checked>
          <label class="form-check-label" for="flexCheckDefault">
            {{ spec }}
          </label>
        </div>
         {% endfor %}
   </div>
  </div>
  </form>
    </div>
   <div class="content">
    {% for clinic in clinics %}
        <div class="clinic" data-name="{{ clinic.user.first_name }}">
            <div id="clinic_name_container"><h1 class="display-6">{{ clinic.user.first_name }}</h1></span><button type="button" onclick="window.open('/account?id={{ clinic.user.id }}', '_blank').focus();" class="btn btn-outline-primary">Перейти <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg></button></div>
         {% for doctor in clinic.doctor_set.all %}
         <div class="doctor" data-name="{{ doctor.user.last_name }} {{ doctor.user.first_name }} {{ doctor.user.patronymic }}", data-spec="{{ doctor.specialization }}">
           <img src="{{ doctor.user.avatar.url }}" alt="Doctor avatar" class="doctorPic">
           <div class="docInfo">
               <h4>{{ doctor.user.last_name }} {{ doctor.user.first_name }} {{ doctor.user.patronymic }}</h4>
               <h5>{{ doctor.specialization }}</h5>
               {% if doctor.getAverageRating %}
               <h5>&#9733; {{ doctor.getAverageRating }}</h5>
               {% else %}
               <i>У доктора на данный момент нет оценок</i>
               {% endif %}
               <p>{{ doctor.extra|linebreaks }}</p>
           </div>
           <button type="button" onclick="window.open('/account?id={{ doctor.user.id }}', '_blank').focus();" class="docProfileButt btn btn-outline-primary">Перейти <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg></button>
         </div>
        {% endfor %}
        </div>
    {% endfor %}

 </div>
</div>
{% endblock content %}