body {
    overflow-x: hidden;
}
.main-container {
    height: 200vh;
    max-width: 100%;
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-radio-role {
    text-align: center;
}

.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-body {
    max-width: 100%;
}